# Compiled Object files
*.slo
*.lo
*.o
*.obj

# vscode
.vscode/

# Python cache
**/__pycache__
**/__pycache__

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.kdev*
build/
lib/

# Ignore generated docs
docs/
*.dox
*.wikidoc

# Core dump
core

tmp.txt